.section-container.accordion{"data-section" => "accordion"}
	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} What is 100 minds?
		.content{"data-section-content" => ""}
			%p 100 minds is a non profit organisation that brings together some of Irelands top undergraduate students and connects them with one cause to achieve big goals in a short space of time.

	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} How does 100 minds achieve this large scale impact?
		.content{"data-section-content" => ""}
			%p By taking on over 100 of Irelands top undergraduates and challenging them to raise €1,000 each, we set ourselves the goal of collectively generating €100,000 in a lean and transparent way.
			%p By partnering with one organisation in need of large scale support, we work closely with stakeholders to identify how we can best use this money to achieve long term positive impact for society.
			%p This involves sitting down with key decision makers, identifying where the money is needed most and developing a detailed spend breakdown that aims to holistically improve and enhance the organisations operations to better the lives of the people they support and work with everyday.

	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} Why is being part of 100 minds valuable to an undergraduate?
		.content{"data-section-content" => ""}
			%p 100 minds not only gives undergraduates the opportunity to be part of large scale social impact but also focuses on giving participants a competitive edge in their own internship and graduate placement search. 

			%strong CV Benefit
			%p To a recruiter, nothing is more insightful into how a potential candidate shapes up against others than having context and metrics attached to their experience (the more practical the experience, the better!). When looking at CV’s, recruiters will always weigh up the value of what is written based on the metrics you attach to each statement.
			%p 100 minds is extremely metric driven in everything it does. This means that each participant can track their donation through and take significant ownership of a project that aims to improve the lives of over 133,000 of Irelands sick children. Now that’s something that will stand out on your CV!

			%strong Endorsement

			%p 100 minds is already recognized by some of Irelands top graduate recruiters as an excellent way to develop your social entrepreneurial skills and project management skills. The project as a whole encompassess a lot of the traits that these top companies look for in potential candidates such as being proactive, having a pragmatic approach to big problems, displaying creative thinking and demonstrating leadership.

	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} What is the significance of the profile page?
		.content{"data-section-content" => ""}

			%p
				%strong Online brand
			
			%p Maintaining a strong online presence will continue to grow in importance as recruiters begin to adopt more scalable online solutions to hiring new employees. As a result a person's digital history is fast becoming an important part of how potential candidates are sized by HR personnel. 

			%p With 100 minds we want to give participants a head start in owning that digital history by giving them the validation and accreditation of their efforts in the form of their very own profile page. This profile page will have key information on the participant and be optimised to appear when people perform searches of our members.

	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} Who is 100 minds partnering with this year?
		.content{"data-section-content" => ""}
			%p For our first year in operation we are partnering with Temple Street Children’s Hospital.

			%p Temple Street Children's University Hospital is the first port of call for tens of thousands of children every year suffering from every kind of illness and injury imaginable. Annually, over 130,000 sick children are cared for in the hospital with approximately 50,000 children attending their Accident and Emergency Department, making it one of the busiest A&E's in Europe.
	
			%p Through initial talks with Temple Street we could see that there was a big need for our support. Significant funding was required to purchase new machinery and surgical equipment,  improve the standard of facilities for patients to ensure a child’s stay at the hospital was as stress free as possible and also the need to develop support services for children in care and their families.

	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} How does 100 minds differ from other charitable organisations?
		.content{"data-section-content" => ""}
			%p We believe that real impact must have real transparency which is why that every penny raised through 100 minds is tracked and measured. We’ve worked hard on putting together a detailed spend plan with this year's partner Temple Street Children’s hospital. 
			%p By ensuring we have the right balance between core machine purchases, improvement of hospital infrastructure and enhancing patient welfare, we’re confident that the money raised is being apportioned in the best possible way to achieve long term, large scale impact for the better.

	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} How will the money we raise be spent?
		.content{"data-section-content" => ""}
			%p We've already been in detailed talks with Temple Street Children's hospital to identify our spending structure, which is available <a href="http://structure" target="_blank">here</a>


	%section
		%p.title{"data-section-title" => ""}
			%a{:href => "#"} When is 100 minds launching? 
		.content{"data-section-content" => ""}
			%p We will begin taking applications from the 1st of September. Applications will close on October 7th. From there we will notify successful candidates and communicate to them the following:
			%p
				%ul	
					%li The overall project timeline and important deadlines.
					%li The recommended steps to take to get started with their fundraising.
					%li How to seek help from the 100 minds founders if in need of mentorship or advice.
					%li How to build their profile page in order to frame their story in the best possible way.
					%li How to manage their online presence for the future.




